{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div>
    <h1>Home ✅</h1>
    <a href="{{ path('app_view_group', {id: 1}) }}">view group</a>
</div>
{% endblock %}
